@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Fira Medium";
    font-weight: 400;
    src: url("./../public/fonts/FiraCode-Medium.ttf");
  }

  @font-face {
    font-family: "Fira Bold";
    font-weight: 400;
    src: url("./../public/fonts/FiraCode-Bold.ttf");
  }

  @font-face {
    font-family: "Fira Reg";
    font-weight: 400;
    src: url("./../public/fonts/FiraCode-Regular.ttf");
  }

  @font-face {
    font-family: "Fira Reg";
    font-weight: 400;
    src: url("./../public/fonts/FiraCode-Retina.ttf");
  }

  @font-face {
    font-family: "Fira Light";
    font-weight: 400;
    src: url("./../public/fonts/FiraCode-Light.ttf");
  }

  @font-face {
    font-family: "Jack Lane";
    font-weight: 400;
    src: url("./../public/fonts/jacklane_2.woff");
  }

  @font-face {
    font-family: "Love of Thunder";
    font-weight: 400;
    src: url("./../public/fonts/A Love of Thunder.ttf");
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
